.textGrey {
    color: var(--darkGrey);
}

.fz14 {
    font-size: var(--fzMd);
    line-height: 1.4;
}

.fz12 {
    font-size: var(--fzSm);
}

.fz18 {
    font-size: var(--fzLg);
    line-height: 1.5;

}
