:root {

    --fz:16px;
    --fzMd:14px;
    --fzSm:12px;
    --fzLg:18px;


    --darkTxt: #1a1f24;
    --darkSlider: #1c1917;
    --lightGrey: #eee;
    --darkGrey: #64696e;
    --green: #69a042;
    --white: #fff;
    --greyArrow:#e4e4e7;


}
